* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 220px;
  height: 100%;
  position: fixed;
  left: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}

aside h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb354), to(#ee7a3a));
  background-image: linear-gradient(to bottom, #ffb354, #ee7a3a);
  color: white;
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

aside img {
  width: 100%;
  height: 258px;
}

aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  border-bottom: 1px solid #00000040;
  color: #725c5c;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

aside ul li:hover {
  background-color: #fdf1eb;
}

aside ul li:hover div {
  visibility: visible;
}

aside ul li div {
  width: 5px;
  height: 100%;
  margin-right: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb455), to(#ed7b39));
  background-image: linear-gradient(to bottom, #ffb455, #ed7b39);
  visibility: hidden;
}

main {
  margin-left: 220px;
  width: 100vw;
}

main header {
  background-color: #fdf1eb;
  padding: 5px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .titles {
  color: #725c5c;
}

main header .titles h2,
main header .titles p {
  font-weight: 400;
}

main header .user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

main header .user-header .user {
  text-align: right;
  margin-right: 5px;
}

main header .user-header img {
  border-radius: 50%;
}

main header .user-header .set-language {
  width: 97px;
  height: 34px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .user-header .set-language select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

main header .user-header .set-language select option {
  border: none;
  cursor: pointer;
}

main .movie-section {
  width: 100%;
  padding: 0px 40px;
  margin-top: 20px;
}

main .movie-section .movie-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

main .movie-section .movie-header h2 {
  width: 75%;
  color: #ed7839;
}

main .movie-section .movie-header .infos .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .movie-section .movie-header .infos .buttons button {
  cursor: pointer;
  height: 31px;
  border-radius: 4px;
  padding: 2px;
  font-size: 1rem;
  background-color: #ed7839;
  border: none;
  color: white;
  padding: 0px 16px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

main .movie-section .movie-header .infos p {
  color: #ed7839;
  font-weight: 500;
}

main .movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

main .movie-container iframe {
  margin-right: 30px;
  width: 100%;
  border-radius: 3px;
}

main .movie-container .details {
  border: 1px solid #ececec;
  border-radius: 3px;
}

main .movie-container .details h2 {
  background-color: #fdf1eb;
  border: #ececec;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: #4e4e4e;
}

main .movie-container .details ul {
  margin: 10px;
  margin-bottom: 30px;
}

main .movie-container .details ul li {
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: 400;
  list-style-type: none;
  color: #5c5c5c;
}

main .overview-section p {
  padding: 10px;
  border: 1px solid #ececec;
  border-top: none;
  font-weight: 400;
  color: #5c5c5c;
  font-family: 'Quicksand', sans-serif;
}

main .sections-containers {
  width: 100%;
  padding: 0px 40px;
  margin-top: 20px;
}

main .sections-containers h2 {
  background-color: #fdf1eb;
  border: 1px solid #ececec;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: #4e4e4e;
  font-weight: 500;
}

main .discussions-section .discussions-content {
  border: 1px solid #ececec;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ed7839;
}

main .discussions-section .discussions-content .icons {
  margin: 30px 0px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .discussions-section .discussions-content p {
  text-align: center;
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

main .discussions-section .discussions-content .separator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .discussions-section .discussions-content .separator button {
  margin: 0;
}

main .discussions-section .discussions-content .separator::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background-color: #E7E7E7;
  margin-left: 10px;
}

main .discussions-section .discussions-content .separator::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background-color: #E7E7E7;
  margin-right: 10px;
}

main .discussions-section .discussions-content .create-topic-button {
  cursor: pointer;
  height: 32px;
  border-radius: 4px;
  font-size: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb254), to(#f0813d));
  background-image: linear-gradient(to bottom, #feb254, #f0813d);
  border: none;
  color: white;
  padding: 20px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

main .discussions-section .discussions-content .asks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
}

main .discussions-section .discussions-content .asks .ask {
  margin: 15px 10px 0px 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  padding: 10px 15px;
  border-radius: 4px 4px 0px 0px;
}

main .discussions-section .discussions-content .asks .ask p {
  text-align: start;
}

main .discussions-section .discussions-content .asks .response {
  margin: 0px 10px 0px 10px;
  padding: 10px 15px;
  border: 1px solid #E7E7E7;
}

main .discussions-section .discussions-content .asks .response .response-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .discussions-section .discussions-content .asks .response .response-header .authorData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .discussions-section .discussions-content .asks .response .response-header .authorData a {
  margin-right: 30px;
  font-weight: 700;
  font-size: 14px;
}

main .discussions-section .discussions-content .asks .response p {
  text-align: start;
  color: #4D4D4D;
  font-weight: 400;
}

main footer {
  width: 100%;
  padding: 20px;
}

main footer img {
  width: 100%;
  cursor: pointer;
}

#feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 19px;
}

#feedback p {
  margin-left: 10px;
  color: #757575;
  font-family: 'Segoe UI';
  cursor: pointer;
}

#feedback h3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

#feedback .like-button {
  cursor: pointer;
  background-color: #ED7839;
  padding: 0px 10px;
  height: 100%;
  border: none;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=topicCards.css.map */